.header {
    display: flex;
    justify-content: space-between;

    .header-fixed {
    }

    .header-logo {
        margin-top: 30px;
        margin-left: 20px;
        img {
            width: 325px;
            height: 88px;
        }
        @media print, screen and (max-width: 760px) {
            img {
                width: 220px;
                height: 60px;
            }
        }
        @media print, screen and (min-width: 320px) and (max-width: 599px) {
            img {
                width: 107px;
                height: 30px;
            }
        }
    }

    .nav-btn {
    }

    .phone {
        display: flex;

        margin-top: 30px;
        margin-right: 20px;
    }

    .phone-image {
        margin-top: 8px;
        img {
            width: 24px;
            height: 33px;
        }
        @media print, screen and (max-width: 760px) {
            img {
                width: 20px;
                height: 20px;
            }
        }
        @media print, screen and (min-width: 320px) and (max-width: 599px) {
            img {
                width: 12px;
                height: 12px;
            }
        }
    }
    @media print, screen and (min-width: 320px) and (max-width: 599px) {
        .phone-image {
            margin-top: 0;
        }
    }

    .phone-number {
        .number {
            font-size: 36px;
            letter-spacing: 0.1em;
            margin-left: 15px;
            color: #f89508;
            font-family: "Anton";
        }
        @media print, screen and (max-width: 760px) {
            .number {
                font-size: 24px;
            }
        }
        @media print, screen and (min-width: 320px) and (max-width: 599px) {
            .number {
                font-size: 16px;
            }
        }
        .time {
            font-size: 23px;
            font-family: "Yu Gothic Medium", sans-serif;
            color: #f89508;
            letter-spacing: 0.08em;
        }
        @media print, screen and (max-width: 760px) {
            .time {
                font-size: 15px;
            }
        }
        @media print, screen and (min-width: 320px) and (max-width: 599px) {
            .time {
                font-size: 11px;
            }
        }
    }
    .time {
    }
}
@media print, screen and (max-width: 1400px) {
    .header {
        width: 100%;
    }
}
@media print, screen and (max-width: 1100px) {
    .header {
    }
}
@media print, screen and (max-width: 960px) {
    .header {
    }
}
@media print, screen and (max-width: 760px) {
    .header {
    }
}
@media print, screen and (min-width: 320px) and (max-width: 599px) {
    .header {
    }
}
